
body{
    background-image: url("../images/pexels-skitterphoto-32266.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header_brandname{
    border-radius:30px;
    width: 200px; 
    color: bisque;
    text-shadow: 2px 2px 5px #0b0b0b;
    background-color: #2f4f4fe0; 
    padding:3px;
}

.brandname-2{
color: #0cf785;
}

.menu-class{
    border-radius:30px; 
    text-align:center; 
    color: bisque;
    text-shadow: 2px 2px 5px #0b0b0b;
    width: fit-content; 
    background-color: #365c5ce0; 
    padding:10px;
}

.tea-icon{
    height: 45px;
    width: 45px;
    display: inline-block;
    border-radius: 45%;
}

.tea-menu-items{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-radius:30px;
    width: 150px; 
    background-color: #365c5ce0; 
    padding:10px;

}

.tea-flavour, .tea-collection{
text-align: left; 
color: bisque;
text-shadow: 2px 2px 7px #0b0b0b;
}

.tea-price, .collection-price{
text-align: right; 
color: bisque;
font-weight: bold;
text-shadow: 3px 3px 5px #0b0b0b;
}

.top-line{
width: 50%;
}

.established{
    font-style: italic;
    font-size: x-small;
    font-weight: bold;
    color:#0cf785;
}

.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}

.footer{
    text-align: center;
    color: bisque;
    border-radius: 20px;
    width: 100%;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #109957;
}

#revealonclick, #revealonclick2, #revealonclick3, #revealonclick4, #revealonclick5, #revealonclick6, #revealonclick7, #revealonclick8, #revealonclick9{
    display: none;
}

#revealonclick:target, #revealonclick2:target, #revealonclick3:target, #revealonclick4:target, #revealonclick5:target, #revealonclick6:target, #revealonclick7:target, #revealonclick8:target, #revealonclick9:target{
    /* display: inline; */
    display: inline-block;
    width: 400px;
    float: right;
    border-radius: 25px;
    margin-top: 100px;
    height: 400px;
    }