
body{
    background-image: url("../images/pexels-diana-light-7296688.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header_brandname{
    border-radius:30px;
    width: 200px; 
    color: aliceblue;
    background-color: #2f4f4fe0; 
    padding:10px;
}

.menu-class{
    border-radius:30px; 
    text-align:center; 
    color: #ffffff;
    width: fit-content; 
    background-color: #2f4f4fe0; 
    padding:10px;
}

.tea-menu-items{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-radius:30px;
    width: 150px; 
    background-color: #365c5ce0; 
    padding:10px;

}

.tea-flavour, .tea-collection{
text-align: left; 
}

.tea-price, .collection-price{
text-align: right; 
}

.top-line{
width: 50%;
}

.established{
    font-style: italic;
    color: darkgreen;
}

.tea-icon{
    height: 35px;
    width: 35px;
    display: block; 
border-radius: 45%;
}


.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}

.footer{
    color: #392404;
    border-radius: 20px;
    background-color: rgba(212, 202, 190, 0.651);
    width: max-content;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #392404;
}

#revealonclick, #revealonclick2, #revealonclick3, #revealonclick4, #revealonclick5 {
    display: none;
}

#revealonclick:target, #revealonclick2:target, #revealonclick3:target, #revealonclick4:target, #revealonclick5:target{
    /* display: inline; */
    display: inline-block;
    width: 400px;
    float: right;
    border-radius: 25px;
    margin-top: 100px;
}